


/*========================================
            ALL VARIABLE DEFINE
=========================================*/

:root {

    // COLOR
    --body: #777777;
    --gray: #555555;
    --dark: #080229;
    --white: #ffffff;
    --border: #e8e8e8;
    --heading: #232d3b;
    --primary: #0044bb;
    --primary-light: #75a7ff;
    --primary-hover: #0022aa;
    --light-white: #f5f5f5;
    --placeholder: #777777;
    --sale: #dc3545;
    --rent: #03a70c;
    --booking: #7209af;

    // BORDER-RADIUS
    --card-radius: 8px;
    --icon-radius: 50%;
    --btn-radius: 8px;
    --tab-radius: 0px;
    --src-radius: 8px;
    --form-radius: 8px;

    // TEXT-SHADOW
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);

    // BOX-SHADOW
    --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    
}
