


/*=====================================
        SELECT-OPTION COMPONENT 
======================================*/
.custom-select {
    font-size: 15px;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: var(--placeholder);
    cursor: pointer;
}